[web_frontend_servers]
server0

[ceph_monitor_servers]
server[1:3]

[ceph_osd_servers]
server[4:6]

[compute_servers]
server[4:9]

[cinder_volume_servers]
server[4:9]

[rabbit_servers]
server1

[mysql_servers]
server1

[glance_servers]
server2

[cinder_servers]
server2

[heat_servers]
server2

[cli_servers]
server2

[horizon_servers]
server2

[keystone_servers]
server2

[nova_servers]
server2

[neutron_servers]
server2

[networking_servers]
server3

[memcache_servers]
server[1:3]
